*{
    margin: auto;
}
background{
    background-color: black;
}
h1{
    color:white;
}
.menu{
    display: flex;
    background-color: blue;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.menus{
    display: flex;
    flex-direction: column;
}
.DBAcess{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
table,th,td{
    border-style: double;
    border-color: white;
}