<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/gerenciador.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <h1><a href="{{ url_for('Home') }}">Sistema RGS(redutor de gargalo Squadro)</a></h1><!--Nome do projeto-->
    </div>
    <div class="menus">
        <div class="DBCOntrol">
            <!--dps add funcionalidade e com o db tbm-->
            <div class="alterardbadd">
                <h1>add</h1>
                <input type="text">
                <button></button>
            </div>
            <div class="alterardbrem">
                <h1>rem</h1>
                <input type="text">
                <button></button>
            </div>
            <div class="alterardbedit">
                <h1>edit</h1>
                <input type="text">
                <button></button>
            </div>
        </div>
        <div class="DBAcess">
            <h1>Tabela visual de preco</h1>
            <!--tabela conforme dados do sqlalchemy-->
            <ul>
    {% for m in Materiais %}
        <li>{{ m.Tipo }} - {{ m.QuantidadeKg }} kg</li>
    {% else %}
        <li>db vazio</li>
    {% endfor %}
</ul>
    </div>

        </div>
    </div>
</body>
</html>