<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <h1>Sistema RGS(redutor de gargalo Squadro)</h1><!--Nome do projeto-->
    </div>
    <div class="menus">
        <button onclick="window.location.href='{{ url_for('Test')}}'">test</button>
        <a href="{{ url_for('Orcamento') }}">orçamentos</a>
        <a href="{{ url_for('ControleOrcamento') }}">Controle orçamentos</a>
        <a href="{{ url_for('FimProduto') }}">Fim produto</a>
    </div>
</body>
</html>