<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/orcamento.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <h1><a href="{{ url_for('Home') }}">Sistema RGS(redutor de gargalo Squadro)</a></h1><!--Nome do projeto-->
    </div>
    <div class="menus">
        <h1>calculador de preço</h1>
        <div class="calcularPrecoText">
            <h2>area(l x c x h)</h2>
            <h2>tipo de material</h2>
        </div>
        <div class="calcularPrecoInput">
            <input type="text" name="" id="">
            <select name="" id="">
                {% for m in Materiais %}
                <option value="{{ m.Tipo }}">{{ m.Tipo }}</option>
                {% endfor %}
            </select>
            <button>calcular</button><!--js chamar func api-->
        </div>
        <div class="PrecoCalculado">
            <h1>Preço calculado: </h1>
            <!-- a depender do calculo indicar falta de material-->
        </div>
    </div>
</body>
</html>