<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software pegada de carbono</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <h1>Software pegada de carbono</h1>
    </header>
    <main>
        <h1>Controle de dados</h1>
        <div class="ControleDB">
            <div class="Veiculo">
                <button>Adicionar veiculo ao banco de dados</button>
                <button>editar veiculo do banco de dados</button>
                <button>remover veiculo ao banco de dados</button>
            </div>
            <div class="Componentes">
                <button>Adicionar componente ao banco de dados</button>
                <button>editar componente do banco de dados</button>
                <button>remover componente ao banco de dados</button>
            </div>
            <div class="Material">
                <button>Adicionar Material ao banco de dados</button>
                <button>editar Material do banco de dados</button>
                <button>remover Material ao banco de dados</button>
            </div>
        </div>
        
    <h1>Calculos</h1>

    <div class="Calcs">
        <button>Calcular Pegada Carbono</button>
    </div>
    </main>
</body>
</html>